.ex-1-square {
    transition: background 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: width 6s;
}

.ex-2-square:hover {
    width: 100%;
}

.ex-3-square {
    transition: border-radius 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: all 3s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: all 3s;
}

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.8);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: blur(2px) grayscale(1);
}

.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    filter: blur(1px) grayscale(1);
    border-radius: 25px;
}

.ex-9-img {
    transition: all 3s;
}

.ex-9-img:hover {
    filter: blur(1px) grayscale(1);
    border-radius: 25px;
    transform: scale(0.8);
}

.ex-10-icon {
    animation-name: giro;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes giro {
    0% { transform:rotate(360deg);}
}

.ex-11-icon:hover {
    animation: giretto 3s linear;
}

@keyframes giretto {
    0% {transform: rotate(0);}
    90% {transform: rotate(270deg);}
    100% {transform: rotate(0);}
}

.ex-12-top-white {
    animation: sposta-il-sopra 3s linear infinite;
}

.ex-12-bottom-white {
    animation: sposta-il-sotto 3s linear infinite;
}

@keyframes sposta-il-sopra {
    0% {left: 10%;}
    50% {left: calc(90% - 60px);}
    100% {left: 10%;}
}

@keyframes sposta-il-sotto {
    0% {right: 10%;}
    50% {right: calc(90% - 60px);}
    100% {right: 10%;}
}

.ex-13-top-white {
    animation: ruota-il-sopra 7s linear infinite;
}

.ex-13-bottom-white {
    animation: ruota-il-sotto 7s linear infinite;
}

@keyframes ruota-il-sopra {
    0% {left: 10%; top: -10px;}
   30% {left: calc(100% - 30px); top: -10px;}
   45% {left: calc(100% - 30px); top: 100%;}
   75% {left: 0; top: 100%;}
   90% {left: -15px; top: -10px;}
   100% {left: 10%; top: -10px;}
}

@keyframes ruota-il-sotto {
    0% {right: 10%; bottom: -10px;}
   30% {right: calc(100% - 30px); bottom: -10px;}
   45% {right: calc(100% - 30px); bottom: 100%;}
   75% {right: 0; bottom: 100%;}
   90% {right: -15px; bottom: -10px;}
   100% {right: 10%; bottom: -10px;}
}
